@charset "utf-8";
.statement {
	padding: .15rem .25rem;
	background-color: #FFF
}
:root,html {
	--prv-bg-page: #fff;
	--prv-bg-page-g2: #f7f7f7;
	--prv-bg-card: #f5f5f5;
	--prv-bg-popup: #fff;
	--gradient-g1: 160deg, rgba(22, 224, 90, 1) 0, rgb(22, 224, 157, 1) 100%;
	--gradient-g1-dis: 160deg, rgba(22, 224, 90, .32) 0, rgb(22, 224, 157, .32) 100%;
	--prv-text-main: #000;
	--prv-text-sec: #000;
	--prv-text-des: #000;
	--prv-text-inverse: #fff;
	--prv-em-color: #00cc36;
	--prv-line: #eee;
	--prv-light: #fff
}

.m-box.m-feedpp-gray {
	background-color: var(--prv-bg-card)
}

html {
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none
}

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,figure,menu,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,select,th,td {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

a {
	background-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

a:active {
	outline: 0
}

audio,canvas,progress,video {
	display: inline-block;
	vertical-align: baseline
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%
}

address,cite,dfn,em,i,var {
	font-style: normal
}

strong {
	font-weight: normal
}

code,kbd,pre,samp {
	font-family: "monospace";
	font-size: 10px
}

ul,ol {
	list-style: none
}

button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance: button
}

textarea {
	overflow: hidden;
	vertical-align: top
}

input,textarea {
	-webkit-appearance: none
}

button,input,select,textarea,input[type="text"],input[type="password"],input[type="number"],input[type="tel"] {
	font-family: inherit;
	font-size: 100%;
	border: none
}

button:focus,input:focus,select:focus,textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="number"]:focus,input[type="tel"]:focus {
	outline: none
}

input[type="search"] {
	-webkit-appearance: none;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration {
	display: none
}

input[type="search"]:focus {
	outline: none
}

input:disabled,textarea:disabled {
	color: var(--prv-text-des)
}

img {
	border: none;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,th {
	padding: 0
}

html {
	font-size: 100px
}

@media screen and (min-width:375px) {
	html {
		font-size: 100px;
		font-size: 1000vw/37.5
	}
}

@media screen and (min-width:550px) {
	html {
		font-size: 100px
	}
}

body {
	background-color: var(--prv-bg-page);
	color: var(--prv-text-sec);
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
	font-size: 30px;
	line-height: 1
}

a {
	color: var(--prv-text-sec);
	text-decoration: none
}

a:focus,a:visited,a:active {
	color: var(--prv-text-sec);
	text-decoration: none
}

a.c-green,a.c-green:focus,a.c-green:visited,a.c-green:active {
	color: var(--prv-em-color)
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
	clear: both
}

.pull-right {
	float: right !important
}

.pull-left {
	float: left !important
}

.hide,.dn {
	display: none !important
}

.show {
	display: block !important
}

.invisible {
	visibility: hidden
}

.po-fixed {
	position: fixed
}

.po-relative {
	position: relative
}

.po-absolute {
	position: absolute
}

.po-static {
	position: static
}

.text-left {
	text-align: left !important
}

.text-right {
	text-align: right !important
}

.text-center {
	text-align: center !important
}

.text-justify {
	text-align: justify !important
}

.text-overflow {
	white-space: nowrap;
	overflow: hidden
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.text-break {
	word-break: break-all;
	word-wrap: break-word
}

.m-box {
	margin-top: .07rem;
	margin-bottom: .07rem;
	background-color: var(--prv-bg-page)
}

.m-box.m-box-Ptop {
	padding-top: .07rem
}

.m-box.m-box-Pbottom {
	padding-bottom: .07rem
}

.m-box.m-box-top {
	margin-top: 0
}

.m-box.m-box-bottom {
	margin-bottom: 0
}

.m-box.m-box-mid {
	margin-top: 0;
	margin-bottom: 0
}

.m-box>.m-box-items {
	padding-left: .07rem;
	padding-right: .07rem
}

.m-box>.m-box-items.m-box-items-full {
	padding-left: 0;
	padding-right: 0
}

.m-box>.m-box-items.m-box-items-Ptop {
	padding-top: .07rem
}

.m-box>.m-box-items.m-box-items-Pbottom {
	padding-bottom: .07rem
}

.m-box>.m-box-items.m-box-items-borderB {
	border-bottom: 1px solid var(--prv-line)
}

.m-box>.m-box-items.m-box-items-borderT {
	border-top: 1px solid var(--prv-line)
}

.padding-base {
	padding: .07rem
}

.padding-large {
	padding: .14rem
}

.c-rb,.c-rt,.c-lb,.c-lt {
	position: absolute;
	z-index: 5;
	overflow: hidden
}

.c-rb {
	right: 0;
	bottom: 0
}

.c-rt {
	right: 0;
	top: 0
}

.c-lb {
	left: 0;
	bottom: 0
}

.c-lt {
	left: 0;
	top: 0
}

.body-overflow {
	overflow: hidden
}

.noborder-top {
	border-top: 0 !important
}

.cover {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: -80px;
	z-index: 9998;
	background-color: rgba(0,0,0,0.4)
}

.m-toast {
	position: fixed;
	left: 50%;
	top: 50%;
	line-height: .18rem;
	box-sizing: border-box;
	color: var(--prv-text-inverse);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 9999;
	width: 100%;
	text-align: center
}

.m-toast.toast-absolute {
	position: absolute
}

.m-toast .info {
	padding: .095rem .18rem;
	max-width: 77.33%;
	background: rgba(0,0,0,0.8);
	box-sizing: border-box;
	border-radius: .55rem;
	text-align: center;
	display: inline-block;
	word-break: break-all;
	max-height: .55rem
}

.m-toast.toast-square .success-icon,.m-toast.toast-square .loading-icon {
	width: .5rem;
	height: .5rem;
	margin-top: .2rem;
	display: block;
	margin: .2rem auto 0
}

.m-toast.toast-square .success-icon {
	background: url(//www.iqiyipic.com/common/fix/h5-aura/success-icon.png) no-repeat;
	background-size: cover
}

.m-toast.toast-square .loading-icon {
	background: url(//www.iqiyipic.com/common/fix/h5-aura/success-loading.png) no-repeat center;
	background-size: cover;
	-webkit-animation: loading-rotate 1s linear infinite;
	-o-animation: loading-rotate 1s linear infinite;
	animation: loading-rotate 1s linear infinite
}

.m-toast.toast-square .info {
	line-height: .4rem;
	width: 1.5rem;
	height: 1.4rem;
	text-align: center;
	border-radius: .1rem;
	max-height: none
}
:root [data-theme="dark"],html [data-theme="dark"] {
	--prv-bg-page: #000000;
	--prv-bg-page-g2: #192333;
	--prv-bg-card: rgba(255,255,255,0.04);
	--prv-bg-popup: rgba(68,78,92,0.98);
	--gradient-g1: 160deg, rgba(12, 204, 76, 1) 0, rgba(8, 204, 126, 1) 100%;
	--gradient-g1-dis: 160deg, rgba(12, 204, 76, .32) 0, rgba(8, 204, 126, .32) 100%;
	--prv-text-main: #FFF;
	--prv-text-sec: #FFF;
	--prv-text-des: #FFF;
	--prv-text-inverse: #131f30;
	--prv-em-color: #0ccc4c;
	--prv-line: rgba(255,255,255,0.04);
	--prv-light: #fff
}

.m-popup {
	position: fixed;
	width: 65.33%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: var(--prv-bg-page);
	z-index: 9999;
	border-radius: .1rem
}

.m-popup .popup-info {
	padding: .15rem .26rem;
	text-align: center
}

.m-popup .popup-info .c-title {
	position: relative;
	line-height: .32rem;
	min-height: .12rem;
	font-weight: 700;
	font-size: .17rem
}

.m-popup .popup-info .c-info {
	padding: .025rem 0;
	font-size: .13rem;
	line-height: .2rem
}

.m-popup .popup-info .info-bold {
	font-weight: 700
}

.m-popup .popup-info.textInfoLeft .c-info {
	text-align: left
}

.m-popup .popup-btn {
	position: relative;
	letter-spacing: -0.04rem
}

.m-popup .popup-btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--prv-line);
	-webkit-transform: scaleY(.5);
	-ms-transform: scaleY(.5);
	-o-transform: scaleY(.5);
	transform: scaleY(.5)
}

.m-popup .popup-btn .c-btn-link {
	width: 49.9%;
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	line-height: .41rem;
	text-align: center;
	box-sizing: border-box;
	font-size: .16rem
}

.m-popup .popup-btn .c-btn-link:last-child {
	position: relative;
	color: var(--prv-em-color)
}

.m-popup .popup-btn .c-btn-link:last-child:focus,.m-popup .popup-btn .c-btn-link:last-child:visited,.m-popup .popup-btn .c-btn-link:last-child:active {
	color: var(--prv-em-color)
}

.m-popup .popup-btn .c-btn-link:last-child::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background-color: var(--prv-line);
	-webkit-transform: scaleX(.5);
	-ms-transform: scaleX(.5);
	-o-transform: scaleX(.5);
	transform: scaleX(.5)
}

.m-popup .popup-btn.popup-btn-only .c-btn-link {
	width: 100%;
	border: none
}

.m-popup .popup-btn.popup-btn-only .c-btn-link:last-child::before {
	background: none
}

.statement,.permission-intro {
	padding: .15rem .25rem;
	color: var(--prv-text-sec)
}

.statement .title,.permission-intro .title {
	line-height: .42rem;
	text-align: center;
	font-size: .21rem;
	font-weight: bold;
	margin-top: .3rem;
	color: var(--prv-text-main)
}

.statement .time,.permission-intro .time {
	text-align: right;
	padding-top: .03rem;
	font-size: .12rem;
	line-height: 1.5;
	margin-bottom: .26rem;
	color: var(--prv-text-des)
}

.statement .stitle,.permission-intro .stitle {
	margin-top: .15rem;
	line-height: .25rem;
	font-size: .16rem;
	font-weight: bold;
	color: var(--prv-text-main)
}

.statement .stitle:before,.permission-intro .stitle:before {
	content: "";
	display: inline-block;
	vertical-align: top;
	margin-right: .1rem;
	margin-top: .05rem;
	width: 2px;
	height: .15rem;
	border-radius: 2px;
	background-color: var(--prv-em-color)
}

.statement .stitle.subtitle:before,.permission-intro .stitle.subtitle:before {
	width: 0;
	margin-right: 0;
	background-color: var(--prv-bg-page)
}

.statement .stitle.suptitle,.permission-intro .stitle.suptitle {
	text-align: center
}

.statement .stitle.suptitle:before,.permission-intro .stitle.suptitle:before {
	width: 0;
	margin-right: 0;
	background-color: var(--prv-bg-page)
}

.statement a,.permission-intro a {
	color: var(--prv-text-sec);
	text-decoration: none
}

.statement a:focus,.permission-intro a:focus,.statement a:visited,.permission-intro a:visited,.statement a:active,.permission-intro a:active {
	color: var(--prv-text-sec);
	text-decoration: none
}

.statement a.c-green,.permission-intro a.c-green,.statement a.c-green:focus,.permission-intro a.c-green:focus,.statement a.c-green:visited,.permission-intro a.c-green:visited,.statement a.c-green:active,.permission-intro a.c-green:active,.statement a.c-link,.permission-intro a.c-link,.statement a.c-link:focus,.permission-intro a.c-link:focus,.statement a.c-link:visited,.permission-intro a.c-link:visited,.statement a.c-link:active,.permission-intro a.c-link:active {
	color: var(--prv-em-color)
}

.statement .info,.permission-intro .info {
	margin-top: .08rem;
	margin-bottom: -0.04rem;
	font-size: .15rem;
	line-height: .25rem;
	text-align: justify;
	word-break: break-all
}

.statement .info .links,.permission-intro .info .links {
	color: var(--prv-em-color)
}

.statement .info.break,.permission-intro .info.break {
	word-break: break-all
}

.statement .info.imp,.permission-intro .info.imp {
	font-weight: 700
}

.statement .info .c-link-code,.permission-intro .info .c-link-code {
	display: inline-block
}

.statement .info code,.permission-intro .info code {
	color: var(--prv-text-sec);
	font-size: .12rem;
	padding: .03rem .06rem;
	background: var(--prv-bg-page-g2);
	margin: 0 .05rem
}

.statement .info.both,.permission-intro .info.both {
	display: -moz-box;
	display: -webkit-box;
	display: box;
	-moz-box-pack: justify;
	-webkit-box-pack: justify;
	box-pack: justify
}

.statement .info.subinfo,.permission-intro .info.subinfo {
	margin-left: 58.64%
}

.statement .info .bottom-txt,.permission-intro .info .bottom-txt {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1
}

.statement .name,.permission-intro .name {
	margin-top: .08rem
}

.statement .links,.permission-intro .links {
	color: var(--prv-em-color)
}

.statement .mes,.permission-intro .mes {
	margin-top: .15rem;
	line-height: .25rem;
	font-size: .15rem;
	padding-left: .15rem;
	list-style-type: disc
}

.statement .mes li,.permission-intro .mes li {
	word-break: break-all;
	word-wrap: break-word;
	overflow-wrap: break-word
}

.statement .mes .circle,.permission-intro .mes .circle {
	padding-left: .15rem;
	list-style-type: circle
}

.statement strong,.permission-intro strong {
	font-weight: 700
}

.statement .mt,.permission-intro .mt {
	margin-top: .1rem
}

.statement .mtb3,.permission-intro .mtb3 {
	margin: .03rem 0
}

.statement .mtb5,.permission-intro .mtb5 {
	margin: .05rem 0
}

.statement table,.permission-intro table {
	width: 100%;
	border-left: 1px solid var(--prv-line);
	border-top: 1px solid var(--prv-line);
	box-sizing: border-box
}

.statement table td,.permission-intro table td {
	line-height: .2rem;
	padding: .05rem;
	border-right: 1px solid var(--prv-line);
	border-bottom: 1px solid var(--prv-line);
	box-sizing: border-box
}

.statement table .tab-txt,.permission-intro table .tab-txt {
	text-align: center
}

.statement table .tab-width,.permission-intro table .tab-width {
	width: 35%
}

.statement table .tab-break,.permission-intro table .tab-break {
	word-break: break-all
}

.statement .underline,.permission-intro .underline {
	text-decoration: underline
}

.statement .indent-1,.permission-intro .indent-1 {
	text-indent: .15rem
}

.statement .indent-2,.permission-intro .indent-2 {
	text-indent: .3rem
}

.statement .italic,.permission-intro .italic {
	font-style: italic
}

.statement .padding-indent,.permission-intro .padding-indent {
	padding-left: .3rem
}

.statement .padding-subindent,.permission-intro .padding-subindent {
	padding-left: .15rem
}

.statement .align-right,.permission-intro .align-right {
	text-align: right
}

.statement .pic,.permission-intro .pic {
	margin: .2rem 0
}

.statement .pic img,.permission-intro .pic img {
	width: 100%
}

.statement .subhead,.permission-intro .subhead {
	margin-top: .18rem
}

.statement.popup,.permission-intro.popup {
	padding: 0 .15rem .15rem
}

.login-reg-btn {
	height: .4rem;
	border-radius: .05rem;
	background-color: var(--prv-em-color);
	font-size: .15rem;
	color: #fff;
	line-height: .4rem;
	text-align: center;
	margin: 0 .25rem .4rem
}[data-theme="dark"] .statement .pic img {
	opacity: .6
}

.m-statement-nav {
	height: .4rem
}

.m-statement-nav .inner {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	width: 100%;
	height: .4rem;
	background-color: var(--prv-bg-page-g2)
}

.m-statement-nav .nav-content {
	position: relative;
	overflow: hidden;
	transform-origin: 0 0 0;
	transform: scale(1, 1);
	opacity: 1;
	-webkit-transform-origin: 0 0 0;
	-webkit-transform: scale(1, 1)
}

.m-statement-nav .list-nav {
	letter-spacing: -0.04rem;
	white-space: nowrap;
	float: left;
	transition-property: transform;
	transition-duration: 0ms;
	transform-origin: 0 0 0;
	-webkit-transition-property: transform;
	-webkit-transition-duration: 0ms;
	-webkit-transform-origin: 0 0 0
}

.m-statement-nav li {
	line-height: .4rem;
	padding: 0 .12rem;
	display: inline-block;
	vertical-align: top;
	letter-spacing: 0;
	font-size: .15rem;
	color: var(--prv-text-main)
}

.m-statement-nav li.selected {
	position: relative;
	color: var(--prv-em-color)
}

.m-statement-nav li.selected::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 10px;
	height: 3px;
	z-index: 2;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	border-radius: 2px;
	background-color: var(--prv-em-color)
}

.catalogue {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	height: .5rem;
	background-color: var(--prv-bg-page)
}

.catalogue .title {
	position: relative;
	margin-left: .13rem;
	margin-top: .11rem;
	width: .7rem;
	padding-left: .32rem;
	line-height: .26rem;
	box-sizing: border-box;
	border: 1px solid var(--prv-line);
	border-radius: .2rem
}

.catalogue .title:before {
	content: "";
	position: absolute;
	left: .11rem;
	top: .08rem;
	display: inline-block;
	width: .13rem;
	height: .1rem;
	background-image: url(//www.iqiyipic.com/common/fix/privacy/catalogue-icon.png);
	background-size: cover
}

.catalogue.border {
	border-bottom: 1px solid var(--prv-line)
}

.sidebar {
	position: fixed;
	top: 0;
	left: -100%;
	width: 82.66%;
	height: 100%;
	background: #fff;
	background: var(--prv-bg-page);
	overflow-y: scroll;
	z-index: 9999;
	animation: move .5s linear alternate;
	animation-fill-mode: forwards;
	-webkit-animation: move .5s linear alternate;
	-webkit-animation-fill-mode: forwards
}

.sidebar h3 {
	font-size: .18rem;
	font-weight: 700;
	padding: .2rem .25rem 0 .25rem;
	color: var(--prv-text-main)
}

.sidebar .side {
	padding: .25rem;
	font-size: .13rem
}

.sidebar .side li {
	line-height: .2rem;
	border-bottom: 1px solid var(--prv-line);
	padding: .085rem 0
}

.sidebar .side li:last-child {
	border: none
}

.covers {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: -80px;
	z-index: 9998;
	background-color: rgba(0,0,0,0.6);
	transition: all .5s;
	opacity: 0;
	animation: fadeIn .5s;
	animation-fill-mode: forwards;
	-webkit-animation: fadeIn .5s;
	-webkit-animation-fill-mode: forwards
}

.FixedBottomBtn {
	height: .45rem
}

.FixedBottomBtn .bottomBtn-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: .45rem;
	font-size: .18rem;
	color: var(--prv-text-inverse);
	text-align: center;
	background-color: var(--prv-bg-page);
	background-image: -webkit-linear-gradient(var(--gradient-g1));
	background-image: linear-gradient(var(--gradient-g1));
	line-height: .46rem
}

.FixedBottomBtn.grayStatus .bottomBtn-wrap {
	background-color: var(--prv-bg-page);
	background-image: -webkit-linear-gradient(var(--gradient-g1-dis));
	background-image: linear-gradient(var(--gradient-g1-dis))
}

@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {
	.FixedBottomBtn {
		height: .79rem
	}

	.FixedBottomBtn .bottomBtn-wrap {
		height: .79rem
	}
}

@media only screen and (device-width:414px) and (device-height:896px) and (-webkit-device-pixel-ratio:3) {
	.FixedBottomBtn {
		height: .79rem
	}

	.FixedBottomBtn .bottomBtn-wrap {
		height: .79rem
	}
}

@media only screen and (device-width:414px) and (device-height:896px) and (-webkit-device-pixel-ratio:2) {
	.FixedBottomBtn {
		height: .79rem
	}

	.FixedBottomBtn .bottomBtn-wrap {
		height: .79rem
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}

	50% {
		opacity: .5
	}

	100% {
		opacity: 1
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}

	50% {
		opacity: .5
	}

	100% {
		opacity: 1
	}
}

@keyframes move {
	0% {
		left: -100%
	}

	25% {
		left: -75%
	}

	50% {
		left: -50%
	}

	75% {
		left: -25%
	}

	100% {
		left: 0
	}
}

@-webkit-keyframes move {
	0% {
		left: -100%
	}

	25% {
		left: -75%
	}

	50% {
		left: -50%
	}

	75% {
		left: -25%
	}

	100% {
		left: 0
	}
}

@-webkit-keyframes arrow-down {
	from {
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg)
	}

	to {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0)
	}
}

@keyframes arrow-down {
	from {
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg)
	}

	to {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0)
	}
}

@-webkit-keyframes arrow-up {
	from {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	to {
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg)
	}
}

@keyframes arrow-up {
	from {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg)
	}

	to {
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg)
	}
}

.c-QRpic {
	width: 1.2rem;
	height: 1.2rem
}

.c-QRpic img {
	width: 100%
}

.example-pic {
	padding-top: .12rem
}

.example-pic .c-pic {
	width: 100%;
	background-size: 100% auto;
	background-repeat: no-repeat
}

.example-pic .c-pic::after {
	content: "";
	display: block;
	width: 100%;
	height: .25rem;
	background: url(//www.iqiyipic.com/common/fix/h5-aboutUs/img-arrow.png) no-repeat center .07rem;
	background-size: .3rem .15rem
}

.example-pic .c-pic.pay-lock {
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/pay-lock.png)
}

.example-pic .c-pic.pay-lock::before {
	content: "";
	display: block;
	padding-top: 52.74%
}

.example-pic .c-pic.pay-lock1 {
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/pay-lock1.png)
}

.example-pic .c-pic.pay-lock1::before {
	content: "";
	display: block;
	padding-top: 46.13%
}

.example-pic .c-pic.pay-lock2 {
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/pay-lock2.png)
}

.example-pic .c-pic.pay-lock2::before {
	content: "";
	display: block;
	padding-top: 112.415%
}

.example-pic .c-pic.pay-lock3 {
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/pay-lock3.png)
}

.example-pic .c-pic.pay-lock3::before {
	content: "";
	display: block;
	padding-top: 53.87%
}

.example-pic .c-pic.edit-rofile {
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/edit-rofile1.png)
}

.example-pic .c-pic.edit-rofile::before {
	content: "";
	display: block;
	padding-top: 112.415%
}

.example-pic .c-pic.edit-rofile1 {
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/edit-rofile1.png)
}

.example-pic .c-pic.edit-rofile1::before {
	content: "";
	display: block;
	padding-top: 129.03%
}

.example-pic .c-pic.edit-rofile {
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/edit-rofile.png)
}

.example-pic .c-pic.edit-rofile::before {
	content: "";
	display: block;
	padding-top: 87.42%
}

.example-pic .c-pic.num-save {
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/num-save.png)
}

.example-pic .c-pic.num-save::before {
	content: "";
	display: block;
	padding-top: 129.03%
}

.example-pic .c-pic.help {
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/help.png)
}

.example-pic .c-pic.help::before {
	content: "";
	display: block;
	padding-top: 82.577%
}

.example-pic .c-pic.amend-phone {
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/amend-phone.png)
}

.example-pic .c-pic.amend-phone::before {
	content: "";
	display: block;
	padding-top: 129.03%
}

.example-pic .c-pic.stop-phone {
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/stop-phone.png)
}

.example-pic .c-pic.stop-phone::before {
	content: "";
	display: block;
	padding-top: 94.63%
}

.example-pic .c-pic.num-appeal {
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/num-appeal.png)
}

.example-pic .c-pic.num-appeal::before {
	content: "";
	display: block;
	padding-top: 94.63%
}

.example-pic .c-pic.save-qiyi {
	width: .84rem;
	background-image: url(//www.iqiyipic.com/common/fix/h5-yinsibaohu/save-qiyi.png)
}

.example-pic .c-pic.save-qiyi::before {
	content: "";
	display: block;
	padding-top: 100%
}

.example-pic .c-pic:last-child::after {
	height: 0
}

.m-function-statement {
	padding-bottom: .12rem
}

.m-function-statement .statement {
	padding: .03rem .25rem
}[data-theme="dark"] .example-pic .c-pic {
	opacity: .6
}

.m-faq-wrap {
	min-height: 100vh;
	background-color: var(--prv-bg-page-g2)
}

.m-faq {
	border-bottom: .09rem solid var(--prv-bg-page-g2);
	background-color: var(--prv-bg-page)
}

.m-faq li {
	position: relative;
	padding: 0 .12rem
}

.m-faq li::before {
	content: "";
	position: absolute;
	top: -1px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--prv-line);
	-webkit-transform: scaleY(.5);
	-ms-transform: scaleY(.5);
	-o-transform: scaleY(.5);
	transform: scaleY(.5)
}

.m-faq li:first-child::before {
	height: 0
}

.m-faq li .c-tip {
	font-weight: bold
}

.m-faq li .c-accentColor {
	color: var(--prv-em-color)
}

.m-faq .title {
	position: relative;
	font-size: .15rem;
	line-height: .22rem;
	padding: .15rem 0
}

.m-faq .title-des {
	padding-right: .1rem
}

.m-faq .arrow-more {
	position: absolute;
	content: "";
	width: .12rem;
	height: .12rem;
	display: inline-block;
	top: .2rem;
	right: 0;
	background: url(//www.iqiyipic.com/common/fix/h5-aboutUs/icon-arrow-more.png) no-repeat;
	background-size: cover
}

.m-faq .info {
	margin-top: -0.05rem;
	font-size: .15rem;
	line-height: .26rem;
	color: var(--prv-text-sec);
	padding-bottom: .13rem;
	display: none;
	text-align: justify;
	word-break: break-all
}

.m-faq li.unfold .info {
	display: block
}

.m-faq li.unfold .title {
	font-size: .16rem;
	font-weight: bold
}

.m-faq li.unfold .arrow-more {
	animation: arrow-unfold .25s forwards
}

.m-faq li.fold .arrow-more {
	animation: arrow-fold .25s forwards
}

@-webkit-keyframes arrow-unfold {
	from {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg)
	}
}

@keyframes arrow-unfold {
	from {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg)
	}
}

@-webkit-keyframes arrow-fold {
	from {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg)
	}

	to {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0)
	}
}

@keyframes arrow-fold {
	from {
		-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg)
	}

	to {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0)
	}
}

.m-contactUs li {
	position: relative
}

.m-contactUs li::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--prv-line);
	-webkit-transform: scaleY(.5);
	-ms-transform: scaleY(.5);
	-o-transform: scaleY(.5);
	transform: scaleY(.5)
}

.m-contactUs .link-item {
	display: block;
	display: -moz-box;
	display: -webkit-box;
	display: box;
	line-height: .22rem;
	padding: .15rem .08rem .15rem .12rem
}

.m-contactUs .title {
	font-size: .15rem;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	box-flex: 1
}

.m-contactUs .info {
	color: var(--prv-text-des);
	font-size: .13rem
}

.m-contactUs .arrow-left {
	width: .12rem;
	height: .12rem;
	display: inline-block;
	vertical-align: -0.02rem;
	background: url(//www.iqiyipic.com/common/fix/h5-aboutUs/icon-arrow-more.png) no-repeat;
	background-size: cover;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin-left: .07rem
}

.m-contactUs .icon-contactUs {
	width: .2rem;
	height: .2rem;
	display: inline-block;
	vertical-align: top;
	margin-right: .09rem;
	background: url(//www.iqiyipic.com/common/fix/h5-aboutUs/icon-contactUs.png) no-repeat;
	background-size: .8rem .2rem
}

.m-contactUs .icon-onlineKeFu {
	background-position: 0 0
}

.m-contactUs .icon-manKeFu {
	background-position: -0.2rem 0
}

.m-contactUs .icon-email {
	background-position: -0.4rem 0
}

.m-contactUs .icon-adress {
	background-position: -0.6rem 0
}

.m-iqiyi-app {
	background-color: #fff;
	color: #040f26;
	height: 100vh
}

.m-iqiyi-app input {
	caret-color: #00bf30
}[data-theme="dark"].m-iqiyi-app {
	background-color: #191c21;
	color: #dfe3eb
}[data-theme="dark"].m-iqiyi-app input {
	caret-color: #1bc245
}

.m-iqiyi-app .m-popup {
	background-color: #fff
}

.m-iqiyi-app .m-popup .popup-info {
	padding: .15rem .24rem
}

.m-iqiyi-app .m-popup .popup-btn::before {
	background-color: #EAECEF
}

.m-iqiyi-app .m-popup .popup-btn .c-btn-link:last-child {
	font-weight: bold;
	color: #00b32d
}

.m-iqiyi-app .m-popup .popup-btn .c-btn-link:last-child:focus,.m-iqiyi-app .m-popup .popup-btn .c-btn-link:last-child:visited,.m-iqiyi-app .m-popup .popup-btn .c-btn-link:last-child:active {
	color: #00b32d
}

.m-iqiyi-app .m-popup .popup-btn .c-btn-link:last-child::before {
	background-color: #EAECEF
}

.m-iqiyi-app .m-popup .popup-btn.popup-btn-only .c-btn-link:last-child::before {
	background: none
}[data-theme="dark"].m-iqiyi-app .m-popup {
	background-color: #191c21
}[data-theme="dark"].m-iqiyi-app .m-popup .popup-btn::before {
	background-color: #22262E
}[data-theme="dark"].m-iqiyi-app .m-popup .popup-btn .c-btn-link:last-child {
	color: #19a63e
}[data-theme="dark"].m-iqiyi-app .m-popup .popup-btn .c-btn-link:last-child:focus,[data-theme="dark"].m-iqiyi-app .m-popup .popup-btn .c-btn-link:last-child:visited,[data-theme="dark"].m-iqiyi-app .m-popup .popup-btn .c-btn-link:last-child:active {
	color: #19a63e
}[data-theme="dark"].m-iqiyi-app .m-popup .popup-btn .c-btn-link:last-child::before {
	background-color: #22262E
}[data-theme="dark"].m-iqiyi-app .m-popup .popup-btn.popup-btn-only .c-btn-link:last-child::before {
	background: none
}

.m-iqiyi-app .statement,.m-iqiyi-app .permission-intro {
	color: #6D7380
}

.m-iqiyi-app .statement .title,.m-iqiyi-app .permission-intro .title {
	color: #040f26
}

.m-iqiyi-app .statement .time,.m-iqiyi-app .permission-intro .time {
	color: #6D7380
}

.m-iqiyi-app .statement .stitle,.m-iqiyi-app .permission-intro .stitle {
	color: #FFF
}

.m-iqiyi-app .statement .stitle:before,.m-iqiyi-app .permission-intro .stitle:before {
	background-color: #00bf30
}

.m-iqiyi-app .statement .stitle.subtitle:before,.m-iqiyi-app .permission-intro .stitle.subtitle:before {
	background-color: #fff
}

.m-iqiyi-app .statement .stitle.suptitle:before,.m-iqiyi-app .permission-intro .stitle.suptitle:before {
	background-color: #fff
}

.m-iqiyi-app .statement a,.m-iqiyi-app .permission-intro a {
	color: #6D7380
}

.m-iqiyi-app .statement a:focus,.m-iqiyi-app .permission-intro a:focus,.m-iqiyi-app .statement a:visited,.m-iqiyi-app .permission-intro a:visited,.m-iqiyi-app .statement a:active,.m-iqiyi-app .permission-intro a:active {
	color: #6D7380
}

.m-iqiyi-app .statement a.c-green,.m-iqiyi-app .permission-intro a.c-green,.m-iqiyi-app .statement a.c-green:focus,.m-iqiyi-app .permission-intro a.c-green:focus,.m-iqiyi-app .statement a.c-green:visited,.m-iqiyi-app .permission-intro a.c-green:visited,.m-iqiyi-app .statement a.c-green:active,.m-iqiyi-app .permission-intro a.c-green:active,.m-iqiyi-app .statement a.c-link,.m-iqiyi-app .permission-intro a.c-link,.m-iqiyi-app .statement a.c-link:focus,.m-iqiyi-app .permission-intro a.c-link:focus,.m-iqiyi-app .statement a.c-link:visited,.m-iqiyi-app .permission-intro a.c-link:visited,.m-iqiyi-app .statement a.c-link:active,.m-iqiyi-app .permission-intro a.c-link:active {
	color: #00b32d
}

.m-iqiyi-app .statement .info .links,.m-iqiyi-app .permission-intro .info .links {
	color: #00b32d
}

.m-iqiyi-app .statement .info code,.m-iqiyi-app .permission-intro .info code {
	color: #6D7380;
	background: #F2F5FA
}

.m-iqiyi-app .statement .links,.m-iqiyi-app .permission-intro .links {
	color: #00b32d
}

.m-iqiyi-app .statement .mes,.m-iqiyi-app .permission-intro .mes {
	color: #8E939E
}

.m-iqiyi-app .statement table,.m-iqiyi-app .permission-intro table {
	border-left: 1px solid #EAECEF;
	border-top: 1px solid #EAECEF
}

.m-iqiyi-app .statement table td,.m-iqiyi-app .permission-intro table td {
	border-right: 1px solid #EAECEF;
	border-bottom: 1px solid #EAECEF
}

.m-iqiyi-app .statement.popup,.m-iqiyi-app .permission-intro.popup {
	padding: 0 .01rem .15rem
}

.m-iqiyi-app .statement.popup .info,.m-iqiyi-app .permission-intro.popup .info {
	font-size: .12rem
}

.m-iqiyi-app .login-reg-btn {
	background: linear-gradient(45deg, #32CCFF 0%, #00E138 51%, #00E138 100%)
}[data-theme="dark"].m-iqiyi-app .statement,[data-theme="dark"].m-iqiyi-app .permission-intro {
	color: #85888F
}[data-theme="dark"].m-iqiyi-app .statement .title,[data-theme="dark"].m-iqiyi-app .permission-intro .title {
	color: #dfe3eb
}[data-theme="dark"].m-iqiyi-app .statement .time,[data-theme="dark"].m-iqiyi-app .permission-intro .time {
	color: #85888F
}[data-theme="dark"].m-iqiyi-app .statement .stitle,[data-theme="dark"].m-iqiyi-app .permission-intro .stitle {
	color: #dfe3eb
}[data-theme="dark"].m-iqiyi-app .statement .stitle:before,[data-theme="dark"].m-iqiyi-app .permission-intro .stitle:before {
	background-color: #1bc245
}[data-theme="dark"].m-iqiyi-app .statement .stitle.subtitle:before,[data-theme="dark"].m-iqiyi-app .permission-intro .stitle.subtitle:before {
	background-color: #191c21
}[data-theme="dark"].m-iqiyi-app .statement .stitle.suptitle:before,[data-theme="dark"].m-iqiyi-app .permission-intro .stitle.suptitle:before {
	background-color: #191c21
}[data-theme="dark"].m-iqiyi-app .statement a,[data-theme="dark"].m-iqiyi-app .permission-intro a {
	color: #85888F
}[data-theme="dark"].m-iqiyi-app .statement a:focus,[data-theme="dark"].m-iqiyi-app .permission-intro a:focus,[data-theme="dark"].m-iqiyi-app .statement a:visited,[data-theme="dark"].m-iqiyi-app .permission-intro a:visited,[data-theme="dark"].m-iqiyi-app .statement a:active,[data-theme="dark"].m-iqiyi-app .permission-intro a:active {
	color: #85888F
}[data-theme="dark"].m-iqiyi-app .statement a.c-green,[data-theme="dark"].m-iqiyi-app .permission-intro a.c-green,[data-theme="dark"].m-iqiyi-app .statement a.c-green:focus,[data-theme="dark"].m-iqiyi-app .permission-intro a.c-green:focus,[data-theme="dark"].m-iqiyi-app .statement a.c-green:visited,[data-theme="dark"].m-iqiyi-app .permission-intro a.c-green:visited,[data-theme="dark"].m-iqiyi-app .statement a.c-green:active,[data-theme="dark"].m-iqiyi-app .permission-intro a.c-green:active,[data-theme="dark"].m-iqiyi-app .statement a.c-link,[data-theme="dark"].m-iqiyi-app .permission-intro a.c-link,[data-theme="dark"].m-iqiyi-app .statement a.c-link:focus,[data-theme="dark"].m-iqiyi-app .permission-intro a.c-link:focus,[data-theme="dark"].m-iqiyi-app .statement a.c-link:visited,[data-theme="dark"].m-iqiyi-app .permission-intro a.c-link:visited,[data-theme="dark"].m-iqiyi-app .statement a.c-link:active,[data-theme="dark"].m-iqiyi-app .permission-intro a.c-link:active {
	color: #19a63e
}[data-theme="dark"].m-iqiyi-app .statement .info .links,[data-theme="dark"].m-iqiyi-app .permission-intro .info .links {
	color: #19a63e
}[data-theme="dark"].m-iqiyi-app .statement .info code,[data-theme="dark"].m-iqiyi-app .permission-intro .info code {
	color: #85888F;
	background: #15171C
}[data-theme="dark"].m-iqiyi-app .statement .links,[data-theme="dark"].m-iqiyi-app .permission-intro .links {
	color: #19a63e
}[data-theme="dark"].m-iqiyi-app .statement .mes,[data-theme="dark"].m-iqiyi-app .permission-intro .mes {
	color: #686B70
}[data-theme="dark"].m-iqiyi-app .statement table,[data-theme="dark"].m-iqiyi-app .permission-intro table {
	border-left: 1px solid #22262E;
	border-top: 1px solid #22262E
}[data-theme="dark"].m-iqiyi-app .statement table td,[data-theme="dark"].m-iqiyi-app .permission-intro table td {
	border-right: 1px solid #22262E;
	border-bottom: 1px solid #22262E
}[data-theme="dark"].m-iqiyi-app .login-reg-btn {
	background: linear-gradient(45deg, #1F9DC8 0%, #1DD14A 51%, #1DD14A 100%)
}

.m-iqiyi-app .m-statement-nav .inner {
	background-color: #fff
}

.m-iqiyi-app .m-statement-nav li {
	color: #040f26
}

.m-iqiyi-app .m-statement-nav li.selected {
	color: #00b32d
}

.m-iqiyi-app .m-statement-nav li.selected::before {
	background-color: #00b32d
}

.m-iqiyi-app .catalogue {
	background-color: #fff
}

.m-iqiyi-app .catalogue .title {
	border: 1px solid #EAECEF
}

.m-iqiyi-app .catalogue .title:before {
	background-image: url(//www.iqiyipic.com/common/fix/new-app/privacy/catalogue-icon.png)
}

.m-iqiyi-app .catalogue.border {
	border-bottom: 1px solid #EAECEF
}

.m-iqiyi-app .sidebar {
	background: #fff
}

.m-iqiyi-app .sidebar h3 {
	color: #040f26
}

.m-iqiyi-app .sidebar .side li {
	border-bottom: 1px solid #EAECEF
}

.m-iqiyi-app .sidebar .side li a:focus,.m-iqiyi-app .sidebar .side li a:visited,.m-iqiyi-app .sidebar .side li a:active {
	color: #040f26
}

.m-iqiyi-app .covers {
	background-color: rgba(0,0,0,0.6)
}

.m-iqiyi-app .FixedBottomBtn .bottomBtn-wrap {
	color: #fff;
	background-image: linear-gradient(45deg, #32CCFF 0%, #00E138 51%, #00E138 100%)
}

.m-iqiyi-app .FixedBottomBtn.grayStatus .bottomBtn-wrap {
	opacity: .8
}[data-theme="dark"].m-iqiyi-app .m-statement-nav .inner {
	background-color: #191c21
}[data-theme="dark"].m-iqiyi-app .m-statement-nav li {
	color: #dfe3eb
}[data-theme="dark"].m-iqiyi-app .m-statement-nav li.selected {
	color: #19a63e
}[data-theme="dark"].m-iqiyi-app .m-statement-nav li.selected::before {
	background-color: #19a63e
}[data-theme="dark"].m-iqiyi-app .catalogue {
	background-color: #191c21
}[data-theme="dark"].m-iqiyi-app .catalogue .title {
	border: 1px solid #22262E
}[data-theme="dark"].m-iqiyi-app .catalogue .title:before {
	background-image: url(//www.iqiyipic.com/common/fix/new-app/privacy/catalogue-icon-dark.png)
}[data-theme="dark"].m-iqiyi-app .catalogue.border {
	border-bottom: 1px solid #22262E
}[data-theme="dark"].m-iqiyi-app .sidebar {
	background: #191c21
}[data-theme="dark"].m-iqiyi-app .sidebar h3 {
	color: #dfe3eb
}[data-theme="dark"].m-iqiyi-app .sidebar .side li {
	border-bottom: 1px solid #22262E
}[data-theme="dark"].m-iqiyi-app .sidebar .side li a:focus,[data-theme="dark"].m-iqiyi-app .sidebar .side li a:visited,[data-theme="dark"].m-iqiyi-app .sidebar .side li a:active {
	color: #dfe3eb
}[data-theme="dark"].m-iqiyi-app .covers {
	background-color: rgba(0,0,0,0.6)
}[data-theme="dark"].m-iqiyi-app .FixedBottomBtn .bottomBtn-wrap {
	background-image: linear-gradient(45deg, #1F9DC8 0%, #1DD14A 51%, #1DD14A 100%)
}

.m-iqiyi-app .example-pic .c-pic::after {
	width: .2rem;
	height: .2rem;
	margin: 0 auto;
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(//www.iqiyipic.com/common/fix/new-app/h5-aboutUs/img-arrow.png)
}[data-theme="dark"].m-iqiyi-app .example-pic .c-pic::after {
	background-image: url(//www.iqiyipic.com/common/fix/new-app/h5-aboutUs/img-arrow-dark.png)
}

.m-iqiyi-app .m-faq-wrap {
	background-color: #fff
}

.m-iqiyi-app .m-faq {
	border-bottom: .09rem solid #EAECEF;
	background-color: #fff
}

.m-iqiyi-app .m-faq li::before {
	background-color: #EAECEF
}

.m-iqiyi-app .m-faq li .c-accentColor {
	color: #00b32d
}

.m-iqiyi-app .m-faq .arrow-more {
	background-image: url(//www.iqiyipic.com/common/fix/new-app/h5-aboutUs/icon-arrow-more.png)
}[data-theme="dark"].m-iqiyi-app .m-faq-wrap {
	background-color: #191c21
}[data-theme="dark"].m-iqiyi-app .m-faq {
	border-bottom: .09rem solid #22262E;
	background-color: #191c21
}[data-theme="dark"].m-iqiyi-app .m-faq li::before {
	background-color: #22262E
}[data-theme="dark"].m-iqiyi-app .m-faq li .c-accentColor {
	color: #19a63e
}[data-theme="dark"].m-iqiyi-app .m-faq .arrow-more {
	background-image: url(//www.iqiyipic.com/common/fix/new-app/h5-aboutUs/icon-arrow-more-dark.png)
}

.m-iqiyi-app .m-contactUs li::before {
	background-color: #EAECEF
}

.m-iqiyi-app .m-contactUs .info {
	color: #6D7380
}

.m-iqiyi-app .m-contactUs .arrow-left {
	background-image: url(//www.iqiyipic.com/common/fix/new-app/h5-aboutUs/icon-arrow-more.png)
}

.m-iqiyi-app .m-contactUs .icon-contactUs {
	background-image: url(//www.iqiyipic.com/common/fix/new-app/h5-aboutUs/icon-contactUs.png)
}[data-theme="dark"].m-iqiyi-app .m-contactUs li::before {
	background-color: #22262E
}[data-theme="dark"].m-iqiyi-app .m-contactUs .info {
	color: #85888F
}[data-theme="dark"].m-iqiyi-app .m-contactUs .arrow-left {
	background-image: url(//www.iqiyipic.com/common/fix/new-app/h5-aboutUs/icon-arrow-more-dark.png)
}[data-theme="dark"].m-iqiyi-app .m-contactUs .icon-contactUs {
	background-image: url(//www.iqiyipic.com/common/fix/new-app/h5-aboutUs/icon-contactUs-dark.png)
}